main {
  width: 100%;
  height: 100%;
}

.logged-in-main-container {
  display: flex;
  flex-flow: column;
  height: 100%;

  .toolbar-container {
    position: relative;
    z-index: 2;
  }

  mat-sidenav-container {
    display: flex;
    flex-grow: 1;

    mat-sidenav {
      width: 15%;
    }

    mat-sidenav-content {
      width: 85%;
      flex-grow: 1;

      // Used to remove scroller on main tag
      display: flex;
    }
  }
}
