.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-background);

  mat-card {
    margin: 5%;

    mat-card-header {
      padding: 16px;
    }

    mat-card-content {
      form {
        width: 100%;
        display: flex;
        flex-flow: wrap;
        justify-content: flex-end;

        mat-form-field {
          width: 100%;
        }
      }
    }
  }
}
