nav {
  display: flex;
  flex-flow: column;
  align-items: center;

  a {
    width: 100%;
    display: flex;
    font-size: medium;
    justify-content: flex-start;

    mat-icon {
      margin: 0 15px;
    }
  }
}
