<mat-toolbar>
  <div class="left-content">
    <button (click)="handleSidenavToggle()" mat-icon-button color="primary">
      <mat-icon>menu</mat-icon>
    </button>

    <a routerLink="/">
      <img src="../../../assets/favicon.ico" alt="AngularLogo" />
      <div class="application-name">
        <span>Angular</span>
        <span>Skeleton</span>
      </div>
    </a>
  </div>

  <div class="right-content">
    <div class="user-information" *ngIf="user">
      {{ user.name }}
    </div>

    <button mat-icon-button [matMenuTriggerFor]="auth" color="primary">
      <mat-icon>person_outline</mat-icon>
    </button>

    <mat-menu #auth="matMenu">
      <button mat-menu-item (click)="handleLogout()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
