@import "@angular/material/theming";

$background: mat-color($mat-blue, 900);

mat-toolbar {
  background-color: $background;
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;

  .left-content,
  .right-content {
    display: flex;
    align-items: center;

    * {
      color: white;
    }
  }

  .left-content {
    a {
      display: flex;
      align-items: center;
      text-decoration: none;

      img {
        margin: 0 15px;
      }

      .application-name {
        display: flex;
        flex-flow: column;
        font-size: 15px;

        span {
          margin: -5px 0;
        }
      }
    }
  }

  .right-content {
    .user-information {
      margin: 0 15px;
    }
  }
}
